#Title {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -0%);

    font-family: 'Sour Gummy', sans-serif;
    text-align: center;

    cursor: default;
}

#Description {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -35%);

    text-align: center;
    font-family: 'Sour Gummy', sans-serif;

    cursor: default;
}

#ButtonHolder {
    display: flex;
    gap: 20px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    transition: 1s cubic-bezier(0.42, 0, 0.58, 1);
}

.Button {
    cursor: pointer;
    display: block;
    aspect-ratio: 1/1; 
    height: 75px;
    border-radius: 0.9rem;
    transition: 1s cubic-bezier(0.42, 0, 0.58, 1);
    box-shadow: 10px 10px 30px;
}

.Button:hover[aria-pressed="false"] {
    scale: 1.2;
    rotate: 360deg;
}

.Button[aria-pressed="true"] {
    scale: 0;
}

/* Button Colours */

#ButtonRed {
    background-color: rgb(255, 174, 190);
}

#ButtonGreen {
    background-color: rgb(174, 255, 175);
}

#ButtonBlue {
    background-color: rgb(174, 217, 255);
}

/* Hover Drop Shadow Colours */ 

#ButtonBlue:hover {
    box-shadow: 10px 10px 50px rgb(174, 217, 255);
}

#ButtonRed:hover {
    box-shadow: 10px 10px 50px rgb(255, 174, 190);
}

#ButtonGreen:hover {
    box-shadow: 10px 10px 50px rgb(174, 255, 175);
}

/* Style The Display Text*/

#Display {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 30%;

    position: absolute;
    top: -50%;
    left: 50%;
    transform: translate(-50%, 50%);
    transition: 1s cubic-bezier(0.42, 0, 0.58, 1);

    background-color: black;
    
    color: red;
    font-family: "Fuzzy Bubbles", sans-serif;
    font-size: x-large;
}

#Display[aria-pressed="true"] {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 10px 20px 100px black;
}